# Copyright (c) 2019-2022, NVIDIA CORPORATION.

repos:
      - repo: https://github.com/psf/black
        rev: 23.7.0
        hooks:
              - id: black
                files: python/cuxfilter/.*
                # Explicitly specify the pyproject.toml at the repo root, not per-project.
                args: ["--config", "pyproject.toml"]
      - repo: https://github.com/PyCQA/flake8
        rev: 6.0.0
        hooks:
              - id: flake8
                args: ["--config=.flake8"]
                files: python/.*$
      - repo: https://github.com/rapidsai/pre-commit-hooks
        rev: v0.4.0
        hooks:
            - id: verify-alpha-spec
      - repo: https://github.com/rapidsai/dependency-file-generator
        rev: v1.13.11
        hooks:
            - id: rapids-dependency-file-generator
              args: ["--clean"]
default_language_version:
      python: python3
