# Copyright (c) 2019-2022, NVIDIA CORPORATION.

repos:
      - repo: https://github.com/psf/black
        rev: 23.7.0
        hooks:
              - id: black
                files: python/cuxfilter/.*
                # Explicitly specify the pyproject.toml at the repo root, not per-project.
                args: ["--config", "pyproject.toml"]
      - repo: https://github.com/PyCQA/flake8
        rev: 7.1.1
        hooks:
              - id: flake8
                args: ["--config=.flake8"]
                files: python/.*$
      - repo: https://github.com/rapidsai/pre-commit-hooks
        rev: v0.6.0
        hooks:
            - id: verify-alpha-spec
      - repo: https://github.com/rapidsai/dependency-file-generator
        rev: v1.20.0
        hooks:
            - id: rapids-dependency-file-generator
              args: ["--clean"]
      - repo: https://github.com/rapidsai/pre-commit-hooks
        rev: v0.6.0
        hooks:
          - id: verify-copyright
      - repo: https://github.com/shellcheck-py/shellcheck-py
        rev: v0.10.0.1
        hooks:
          - id: shellcheck
default_language_version:
      python: python3
