/* global  styles */

@import url('https://fonts.googleapis.com/css?family=Cabin:400,700');

body {
	font-family: 'Cabin', sans-serif;
	font-size: 15px;
	margin: 0;
	padding: 0;
	background-color: #191a1a;
	color: white;
}

