block content
h1= title
form#fileUpload(method="post" action="/upload" enctype="multipart/form-data")
    label(for="payload") Select a file to upload:
    input#payload(type="file" name="myFile" accept="*/*")
    br
    button#upload Upload