body {
  color: white;
  background-color: #121212;
}

#header {
  background-color: #2f2f2f;
}

.panel-df tbody tr:nth-child(odd){
  background-color: #000 !important;
}

#main {
  color: white;
  background-color: #121212;
}

#sidebar {
  color: white;
  border-color: #292929 !important;
  background-color: #121212 !important;
}
.drag-handle, .react-resizable-handle {
  filter: brightness(0) invert(1);
}

.bk.card {
  color: white;
  background-color: #2f2f2f;
}

.bk-root .bk-input{
  color: white;
  background-color: #2f2f2f;
}

#header-items {
  color: white;
}

.bk.card-header {
  color: white;
  background-color: #292929 !important;
}

.indicator > div > div {
  color: white !important;
}
