extends layout

block content
  style.
    .hid {
      display:none;
    }
  h1= title
  span#hid-val.hid #{val}
  span#hid-col.hid #{cols}
  div#cols-x histogram for:<br>
  .btn-group
    button.btn.btn-danger.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
      | Action
    .dropdown-menu
      a#hist.dropdown-item(href='#') Histogram
      a#bar.dropdown-item(href='#') Bar Chart

  div#myDiv
  script(src="https://cdn.plot.ly/plotly-latest.min.js")
  script(src="javascripts/test.js")
  