// plugin level css
.pycross-filter{
    width: 400px;
    min-height: 200px;
    border-radius: 3px;
    background-color: #fff;
    padding: 15px 30px;
    list-style-type: none;
    color: black;
    >li{
        line-height: 30px;
    }
}