name: pr

on:
  push:
    branches:
      - "pull-request/[0-9]+"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  pr-builder:
    needs:
      # - checks
      - conda-python-build
      - conda-python-tests
      - conda-notebook-tests
      # - docs-build
      - wheel-build
      - wheel-tests
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/pr-builder.yaml@branch-24.10
  # checks:
  #   secrets: inherit
  #   uses: rapidsai/shared-workflows/.github/workflows/checks.yaml@branch-24.10
  conda-python-build:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-build.yaml@branch-24.10
    with:
      build_type: pull-request
  conda-python-tests:
    needs: conda-python-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/conda-python-tests.yaml@branch-24.10
    with:
      build_type: pull-request
      run_codecov: false
  conda-notebook-tests:
    needs: conda-python-build
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@branch-24.10
    with:
      build_type: pull-request
      node_type: "gpu-v100-latest-1"
      arch: "amd64"
      container_image: "rapidsai/ci-conda:latest"
      run_script: "ci/test_notebooks.sh"
  # docs-build:
  #   needs: conda-python-build
  #   secrets: inherit
  #   uses: rapidsai/shared-workflows/.github/workflows/custom-job.yaml@branch-24.10
  #   with:
  #     build_type: pull-request
  #     node_type: "gpu-v100-latest-1"
  #     arch: "amd64"
  #     container_image: "rapidsai/ci-conda:latest"
  #     run_script: "ci/build_docs.sh"
  wheel-build:
    needs: checks
    secrets: inherit
    uses: rapidsai/shared-workflows/.github/workflows/wheels-build.yaml@branch-24.10
    with:
      build_type: pull-request
      script: ci/build_wheel.sh
      # This selects "ARCH=amd64 + the latest supported Python + CUDA".
      matrix_filter: map(select(.ARCH == "amd64")) | group_by(.CUDA_VER|split(".")|map(tonumber)|.[0]) | map(max_by([(.PY_VER|split(".")|map(tonumber)), (.CUDA_VER|split(".")|map(tonumber))]))
  # wheel-tests:
  #   needs: wheel-build
  #   secrets: inherit
  #   uses: rapidsai/shared-workflows/.github/workflows/wheels-test.yaml@branch-24.10
  #   with:
  #     build_type: pull-request
  #     script: ci/test_wheel.sh
  #     # This selects "ARCH=amd64 + the latest supported Python + CUDA".
  #     matrix_filter: map(select(.ARCH == "amd64")) | max_by([(.PY_VER|split(".")|map(tonumber)), (.CUDA_VER|split(".")|map(tonumber))]) | [.]
